# DB vars
POSTGRES_DB=stockdata
POSTGRES_USER=stockuser
POSTGRES_PASSWORD=REPLACE_ME
ConnectionStrings__Default=Host=db;Port=5432;Database=stockdata;Username=stockuser;Password=REPLACE_ME

# API secret
YahooClient__ApiKey=REPLACE_ME

Jwt__Issuer=HubertasVin
Jwt__Audience=HubertasVin
Jwt__Key=REPLACE_ME
Jwt__Username=REPLACE_ME
Jwt__Password=REPLACE_ME